# Ignore node_modules directory
node_modules/

# Ignore built TypeScript files
dist/

# Ignore generated documentation
docs/

# Ignore configuration files
.eslintrc.json
.eslintignore

# Ignore TypeScript declaration files
*.d.ts

# Ignore compiled JavaScript files
*.js
